[[master.yoda.provide/do!
  [
   [com.badlogic.gdx.graphics.Texture
    clojure.gdx.graphics.texture
    clojure.graphics.texture/Texture]

   [com.badlogic.gdx.graphics.OrthographicCamera
    gdx.graphics.camera
    gdl.graphics.camera/Camera]

   [com.badlogic.gdx.scenes.scene2d.Actor
    gdx.ui.actor
    gdl.ui.actor/Actor]

   [com.badlogic.gdx.scenes.scene2d.Group
    gdx.ui.group
    gdl.ui.group/Group]

   [com.badlogic.gdx.scenes.scene2d.ui.Table
    gdx.ui.table
    gdl.ui.table/Table]

   [gdl.ui.CtxStage
    gdx.ui.stage
    gdl.ui.stage/Stage]

   [com.badlogic.gdx.scenes.scene2d.ui.Image
    gdx.ui.image
    gdl.ui.image/Image]

   [gdl.create.graphics.RGraphics
    gdl.create.graphics.handle-draws
    gdl.graphics/DeclarativeDraws]
   ]]]
