[[master.yoda/dispatch
  [clojure.gdx.utils.shared-library-loader/operating-system
   {:mac [[gdl.lwjgl/set-glfw-library-name! "glfw_async"]
          [gdl.java.awt/set-taskbar-icon! "moon.png"]]}]]]
