; data doc/schema:

;:elapsed-time  "The elapsed in-game-time in seconds (not counting when game is paused)."
;:delta-time "The game logic update delta-time in ms."

; :So actually the big components cannot change
; e.g. each cursor is required !!! -> schema !
; what can change is only the last values, not the keys !

{:icon "moon.png"
 :title "Forge"
 :fps 60
 :window-width 1440
 :window-height 900
 :context {:assets "resources/"
           :db {:schema "schema.edn"
                :properties "properties.edn"}
           :default-font {:file "fonts/exocet/films.EXL_____.ttf"
                          :size 16
                          :quality-scaling 2}
           :cursors {:cursors/bag                   ["bag001"       [0   0]]
                     :cursors/black-x               ["black_x"      [0   0]]
                     :cursors/default               ["default"      [0   0]]
                     :cursors/denied                ["denied"       [16 16]]
                     :cursors/hand-before-grab      ["hand004"      [4  16]]
                     :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                     :cursors/hand-grab             ["hand003"      [4  16]]
                     :cursors/move-window           ["move002"      [16 16]]
                     :cursors/no-skill-selected     ["denied003"    [0   0]]
                     :cursors/over-button           ["hand002"      [0   0]]
                     :cursors/sandclock             ["sandclock"    [16 16]]
                     :cursors/skill-not-usable      ["x007"         [0   0]]
                     :cursors/use-skill             ["pointer004"   [0   0]]
                     :cursors/walking               ["walking"      [16 16]]}
           :ui-viewport    {:width 1440 :height 900}
           :world-viewport {:width 1440 :height 900}
           :tile-size 48
           :ui {:skin-scale :x1}
           :world-id :worlds/uf-caves
           :content-grid {:cell-size 16}
           :factions-iterations {:good 15 :evil 5}
           :player-message {:duration-seconds 1.5}}}
