; BUG e.g. stuff is not deleted after death ..


; OK here is the bug ....
; should have made me know
; => entity schema !
; => prevent that 'class' of bugs ...

; * can't get mouseover id
; * delete-after-animation-stopped? is installed (keys (methods forge.entity/tick))

; type the question mark was missing ...




; TESTS!
; like a tool with a list which starts a world for tests to do certain things .... ?
; like gdx test runner ?
; shows of effects on custom built maps !?


; for app ... only install those I use ?!
; install also schemas / entity-state/widgets/fsms?!
{:install {:app [:app/db
                 :app/asset-manager
                 :app/sprite-batch
                 :app/shape-drawer
                 :app/default-font
                 :app/cached-map-renderer
                 :app/cursors
                 :app/vis-ui
                 :app/gui-viewport
                 :app/world-viewport
                 :app/screens]
           :entity [:entity/alert-friendlies-after-duration
                    :entity/animation
                    :entity/clickable
                    :entity/delete-after-animation-stopped?
                    :entity/delete-after-duration
                    :entity/destroy-audiovisual
                    :entity/fsm
                    :entity/hp
                    :entity/image
                    :entity/inventory
                    :entity/line-render
                    :entity/mana
                    :entity/mouseover?
                    :entity/movement
                    :entity/string-effect
                    :entity/skills
                    :entity/projectile-collision
                    :entity/temp-modifier]
           :effect [:effects/projectile
                    :effects/spawn
                    :effects/target-all
                    :effects/target-entity

                    :effects.target/audiovisual
                    :effects.target/convert
                    :effects.target/damage
                    ;:effects.target/hp
                    :effects.target/kill
                    :effects.target/melee-damage
                    :effects.target/spiderweb
                    :effects.target/stun]}
 :requires [forge.schemas

            ; Install this shit now !!
            ; Also for screens/schemas/mapgen ?
            ; => remove all the stupid dependencies....

            ; and then defsystem does not need params
            ; and can make 'component' API multimethods
            ; and no Screen protocol
            ; e.g. re-use enter/exit ....
            ; and work on components

            ; maybe even 'clojure.component' or 'forge.component' ?
            ; but then they also want to have names
            ; e.g. create/destroy ok
            ; but enter exit ?
            ; hmmm

            ; can also think about having an API for 'effects' ?

            ; I am wondering... effects are the last line of defense
            ; could we put something behind 'effects'?
            ; how would it look ?

            ; also I can build cursors in the db ?

            ; and fsms/widgests can make 'component/create' ??? or is that crazy
            ; or we call the component directly w. create

            ; but then we could also have an API for 'send-event' or something?
            ; entity API

            ; we could have .... ?

            ; but I like explicit dependencies

            ; so where is the problem in our app ?

            ; biggest file ?

            ; -editor/world-

            ; keep making things smaller and moving data out and more explicit

            ; e.g. vampire hardcoded

            ; at what point is what important?
            ; overview ?

            ; how is all _really_ connected?

            ; what parts are there?

            ; where is)the overview(

            ; ===> ! MAPGEN! <==== (move stuff to grid2d? clojure.g2d ? => no private!

            ; minimal small parts -> no private stuff !
            ; start with size
            ; e.g. fsm/create ... or just depend ?
            ; create is a system ...
            ; everything is a system
            ; send-event is a system ... / protocol
            ; ....
            ; maybe we will get an entity or graphics 'API'
            ; e.g. line-of-sight is a component does not be together with other stuff
            ; only private to itself stuff ....

            ; what are my components ... minimal context minimal components ....
            ; => where are the problems easier to see (spiderweb hardcoded stuff etc. ,
            ; potential field follow & work ...)



            forge.entity.state.active-skill
            forge.entity.state.npc-dead
            forge.entity.state.npc-idle
            forge.entity.state.npc-moving
            forge.entity.state.npc-sleeping
            forge.entity.state.player-dead
            forge.entity.state.player-idle
            forge.entity.state.player-item-on-cursor
            forge.entity.state.player-moving
            forge.entity.state.stunned

            ; how 2 install ?
            ; => pass the required/optional map over here fully ns qualified ...

            forge.info
            forge.mapgen.generate
            forge.mapgen.uf-caves]
 :dock-icon "moon.png"
 :lwjgl3 {:title "Forge"
          :fps 60
          :width 1440
          :height 900}
 :components [[:app/db {:schema "schema.edn" :properties "properties.edn"}]
              [:app/asset-manager "resources/"]
              [:app/sprite-batch]
              [:app/shape-drawer]
              [:app/default-font {:file "fonts/exocet/films.EXL_____.ttf"
                                  :size 16
                                  :quality-scaling 2}]
              [:app/cursors {:cursors/bag                   ["bag001"       [0   0]]
                             :cursors/black-x               ["black_x"      [0   0]]
                             :cursors/default               ["default"      [0   0]]
                             :cursors/denied                ["denied"       [16 16]]
                             :cursors/hand-before-grab      ["hand004"      [4  16]]
                             :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                             :cursors/hand-grab             ["hand003"      [4  16]]
                             :cursors/move-window           ["move002"      [16 16]]
                             :cursors/no-skill-selected     ["denied003"    [0   0]]
                             :cursors/over-button           ["hand002"      [0   0]]
                             :cursors/sandclock             ["sandclock"    [16 16]]
                             :cursors/skill-not-usable      ["x007"         [0   0]]
                             :cursors/use-skill             ["pointer004"   [0   0]]
                             :cursors/walking               ["walking"      [16 16]]}]
              [:app/cached-map-renderer]
              [:app/vis-ui :skin-scale/x1]
              [:app/gui-viewport   [1440 900]]
              [:app/world-viewport [1440 900 48]]
              [:app/screens {:ks {:screens/main-menu  forge.screens.main-menu
                                  :screens/map-editor forge.screens.map-editor
                                  :screens/editor     forge.screens.editor
                                  :screens/minimap    forge.screens.minimap
                                  :screens/world      forge.screens.world}
                             :first-k :screens/main-menu}]]}
