[[cdq.start.install-entity-components/do!]
 [cdq.start.install-effects/do!]
 [cdq.start.install-txs/do!]
 [cdq.start.install-editor-widgets/do! [cdq.ui.editor.widget.default
                                        cdq.ui.editor.widget.edn
                                        cdq.ui.editor.widget.string
                                        cdq.ui.editor.widget.boolean
                                        cdq.ui.editor.widget.enum
                                        cdq.ui.editor.widget.sound
                                        cdq.ui.editor.widget.one-to-one
                                        cdq.ui.editor.widget.one-to-many
                                        cdq.ui.editor.widget.image
                                        cdq.ui.editor.widget.animation
                                        cdq.ui.editor.widget.map]]
 [cdq.start.set-icon/do! "icon.png"]
 [cdq.start.gdx-app/do! {:lwjgl-app-config {:title "Cyber Dungeon Quest"
                                            :windowed-mode {:width 1440 :height 900}
                                            :foreground-fps 60}
                         :create! [cdq.game/create! {:cdq.game/stage {:skin-scale :x1}
                                                     :cdq.game/audio {:sounds "sounds.edn"
                                                                      :path-format "sounds/%s.wav"}
                                                     :cdq.game/db {:schemas "schema.edn"
                                                                   :properties "properties.edn"}
                                                     :cdq.game/starting-level [cdq.level.from-tmx/create
                                                                               {:tmx-file "maps/vampire.tmx"
                                                                                :start-position [32 71]}]
                                                     :cdq.game/graphics
                                                     {:colors [["PRETTY_NAME" [0.84 0.8 0.52 1]]]
                                                      :tile-size 48
                                                      :ui-viewport    {:width 1440 :height 900}
                                                      :world-viewport {:width 1440 :height 900}
                                                      :cursor-path-format "cursors/%s.png"
                                                      :cursors {:cursors/bag                   ["bag001"       [0   0]]
                                                                :cursors/black-x               ["black_x"      [0   0]]
                                                                :cursors/default               ["default"      [0   0]]
                                                                :cursors/denied                ["denied"       [16 16]]
                                                                :cursors/hand-before-grab      ["hand004"      [4  16]]
                                                                :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                                                                :cursors/hand-grab             ["hand003"      [4  16]]
                                                                :cursors/move-window           ["move002"      [16 16]]
                                                                :cursors/no-skill-selected     ["denied003"    [0   0]]
                                                                :cursors/over-button           ["hand002"      [0   0]]
                                                                :cursors/sandclock             ["sandclock"    [16 16]]
                                                                :cursors/skill-not-usable      ["x007"         [0   0]]
                                                                :cursors/use-skill             ["pointer004"   [0   0]]
                                                                :cursors/walking               ["walking"      [16 16]]}
                                                      :default-font {:file "exocet/films.EXL_____.ttf"
                                                                     :params {:size 16
                                                                              :quality-scaling 2
                                                                              :enable-markup? true
                                                                              ; false, otherwise scaling to world-units not visible
                                                                              :use-integer-positions? false}}}
                                                     :cdq.game/config {:cdq.ctx.game/enemy-components {:entity/fsm {:fsm :fsms/npc
                                                                                                                    :initial-state :npc-sleeping}
                                                                                                       :entity/faction :evil}
                                                                       :cdq.ctx.game/player-props {:creature-id :creatures/vampire
                                                                                                   :components {:entity/fsm {:fsm :fsms/player
                                                                                                                             :initial-state :player-idle}
                                                                                                                :entity/faction :good
                                                                                                                :entity/player? true
                                                                                                                :entity/free-skill-points 3
                                                                                                                :entity/clickable {:type :clickable/player}
                                                                                                                :entity/click-distance-tiles 1.5}}
                                                                       :cdq.game/world {:content-grid-cell-size 16
                                                                                        :potential-field-factions-iterations {:good 15
                                                                                                                              :evil 5}}
                                                                       :effect-body-props {:width 0.5
                                                                                           :height 0.5
                                                                                           :z-order :z-order/effect}

                                                                       :controls {:zoom-in :minus
                                                                                  :zoom-out :equals
                                                                                  :unpause-once :p
                                                                                  :unpause-continously :space}}}]

                         :dispose! cdq.game/dispose!
                         :render! cdq.game/render!
                         :resize! cdq.game/resize!}]]
