[
 [cdq.application.mac-os-config/set-glfw-async!]
 [cdq.var/bind-roots! [
                       [cdq.editor.widget.map/application-state-atom cdq.application/state]
                       [cdq.entity.state/->exit {:npc-moving            cdq.entity.state.npc-moving/exit
                                                 :npc-sleeping          cdq.entity.state.npc-sleeping/exit
                                                 :player-item-on-cursor cdq.entity.state.player-item-on-cursor/exit
                                                 :player-moving         cdq.entity.state.player-moving/exit}]
                       [cdq.entity.state/->enter {:npc-dead              cdq.entity.state.npc-dead/enter
                                                  :npc-moving            cdq.entity.state.npc-moving/enter
                                                  :player-dead           cdq.entity.state.player-dead/enter
                                                  :player-item-on-cursor cdq.entity.state.player-item-on-cursor/enter
                                                  :player-moving         cdq.entity.state.player-moving/enter
                                                  :active-skill          cdq.entity.state.active-skill/enter}]
                       [cdq.entity.state/->create {:active-skill          cdq.entity.state.active-skill/create
                                                   :npc-moving            cdq.entity.state.npc-moving/create
                                                   :player-item-on-cursor cdq.entity.state.player-item-on-cursor/create
                                                   :player-moving         cdq.entity.state.player-moving/create
                                                   :stunned               cdq.entity.state.stunned/create}]
                       [cdq.ui.windows/state->clicked-inventory-cell {:player-idle           cdq.entity.state.player-idle/clicked-inventory-cell
                                                                      :player-item-on-cursor cdq.entity.state.player-item-on-cursor/clicked-cell}]
                       [cdq.render.player-state-handle-input/state->handle-input {:player-idle           cdq.entity.state.player-idle/handle-input
                                                                                :player-item-on-cursor cdq.entity.state.player-item-on-cursor/handle-input
                                                                                :player-moving         cdq.entity.state.player-moving/handle-input}]
                       [cdq.ui.player-state-draw/state->draw-gui-view {:player-item-on-cursor cdq.entity.state.player-item-on-cursor/draw-gui-view}]
                       [cdq.draw-on-world-viewport.entities/render-layers [{:entity/mouseover? cdq.render-layers/draw-mouseover-highlighting
                                                                            :stunned cdq.render-layers/draw-stunned-state
                                                                            :player-item-on-cursor cdq.render-layers/draw-item-on-cursor-state}
                                                                           {:entity/clickable cdq.render-layers/draw-clickable-mouseover-text
                                                                            :entity/animation cdq.render-layers/call-render-image
                                                                            :entity/image cdq.render-layers/draw-centered-rotated-image
                                                                            :entity/line-render cdq.render-layers/draw-line-entity}
                                                                           {:npc-sleeping cdq.render-layers/draw-sleeping-state
                                                                            :entity/temp-modifier cdq.render-layers/draw-temp-modifiers
                                                                            :entity/string-effect cdq.render-layers/draw-text-over-entity}
                                                                           {:creature/stats cdq.render-layers/draw-stats
                                                                            :active-skill cdq.render-layers/draw-active-skill}]]
                       [cdq.tx.spawn-entity/entity-components
                        {:entity/animation                       {:create   cdq.entity.animation/create}
                         :entity/body                            {:create   cdq.entity.body/create}
                         :entity/delete-after-animation-stopped? {:create!  cdq.entity.delete-after-animation-stopped/create!}
                         :entity/delete-after-duration           {:create   cdq.entity.delete-after-duration/create}
                         :entity/projectile-collision            {:create   cdq.entity.projectile-collision/create}
                         :creature/stats                         {:create   cdq.entity.stats/create}
                         :entity/fsm                             {:create!  cdq.entity.fsm/create!}
                         :entity/inventory                       {:create!  cdq.entity.inventory/create!}
                         :entity/skills                          {:create!  cdq.entity.skills/create!}}]
                       [cdq.render.remove-destroyed-entities/entity-components
                        {:entity/destroy-audiovisual             {:destroy! cdq.entity.destroy-audiovisual/destroy!}}]
                       [cdq.render.tick-world/entity->tick {:entity/alert-friendlies-after-duration cdq.entity.alert-friendlies-after-duration/tick!
                                                          :entity/animation cdq.entity.animation/tick!
                                                          :entity/delete-after-animation-stopped? cdq.entity.delete-after-animation-stopped/tick!
                                                          :entity/delete-after-duration cdq.entity.delete-after-duration/tick!
                                                          :entity/movement cdq.entity.movement/tick!
                                                          :entity/projectile-collision cdq.entity.projectile-collision/tick!
                                                          :entity/skills cdq.entity.skills/tick!
                                                          :active-skill cdq.entity.state.active-skill/tick!
                                                          :npc-idle cdq.entity.state.npc-idle/tick!
                                                          :npc-moving cdq.entity.state.npc-moving/tick!
                                                          :npc-sleeping cdq.entity.state.npc-sleeping/tick!
                                                          :stunned cdq.entity.state.stunned/tick!
                                                          :entity/string-effect cdq.entity.string-effect/tick!
                                                          :entity/temp-modifier cdq.entity.temp-modifier/tick!}]
                       [cdq.render.set-cursor/state->cursor {:active-skill :cursors/sandclock
                                                           :player-dead :cursors/black-x
                                                           :player-idle cdq.entity.state.player-idle/->cursor
                                                           :player-item-on-cursor :cursors/hand-grab
                                                           :player-moving :cursors/walking
                                                           :stunned :cursors/denied}]]]
 [cdq.multifn/add-methods! [{:required [cdq.ui/create]}
                            [[cdq.ui.horizontal-group           :actor.type/horizontal-group]
                             [clojure.vis-ui.select-box         :actor.type/select-box]
                             [cdq.ui.label                      :actor.type/label]
                             [cdq.ui.stack                      :actor.type/stack]
                             [cdq.ui.text-field                 :actor.type/text-field]
                             [cdq.ui.widget                     :actor.type/widget]
                             [cdq.ui.group                      :actor.type/group]
                             [clojure.vis-ui.check-box          :actor.type/check-box]
                             [cdq.ui.actor                      :actor.type/actor]
                             [cdq.ui.table                      :actor.type/table]
                             [cdq.ui.image-button               :actor.type/image-button]
                             [cdq.ui.text-button                :actor.type/text-button]
                             [cdq.ui.property-editor :actor.type/property-editor]
                             ]]]
 [cdq.multifn/add-methods! [{:required [cdq.info/info-segment]}
                            [[cdq.info.creature.level :creature/level]
                             [cdq.info.creature.stats :creature/stats]
                             [cdq.info.effects.target.convert :effects.target/convert]
                             [cdq.info.effects.target.damage :effects.target/damage]
                             [cdq.info.effects.target.kill :effects.target/kill]
                             [cdq.info.effects.target.melee-damage :effects.target/melee-damage]
                             [cdq.info.effects.target.spiderweb :effects.target/spiderweb]
                             [cdq.info.effects.target.stun :effects.target/stun]
                             [cdq.info.effects.spawn :effects/spawn]
                             [cdq.info.effects.target-all :effects/target-all]
                             [cdq.info.entity.delete-after-duration :entity/delete-after-duration]
                             [cdq.info.entity.faction :entity/faction]
                             [cdq.info.entity.fsm :entity/fsm]
                             [cdq.info.entity.modifiers :entity/modifiers]
                             [cdq.info.entity.skills :entity/skills]
                             [cdq.info.entity.species :entity/species]
                             [cdq.info.entity.temp-modifier :entity/temp-modifier]
                             [cdq.info.projectile.piercing :projectile/piercing?]
                             [cdq.info.property.pretty-name :property/pretty-name]
                             [cdq.info.skill.action-time :skill/action-time]
                             [cdq.info.skill.action-time-modifier-key :skill/action-time-modifier-key]
                             [cdq.info.skill.cooldown :skill/cooldown]
                             [cdq.info.skill.cost :skill/cost]
                             [cdq.info.maxrange :maxrange]
                             ]]]
 [cdq.multifn/add-methods! [{:required [cdq.ctx/draw!]}
                            [[cdq.draw.with-line-width
                              :draw/with-line-width]
                             [cdq.draw.grid
                              :draw/grid]
                             [cdq.draw.texture-region
                              :draw/texture-region]
                             [cdq.draw.text
                              :draw/text]
                             [cdq.draw.ellipse
                              :draw/ellipse]
                             [cdq.draw.filled-ellipse
                              :draw/filled-ellipse]
                             [cdq.draw.circle
                              :draw/circle]
                             [cdq.draw.filled-circle
                              :draw/filled-circle]
                             [cdq.draw.rectangle
                              :draw/rectangle]
                             [cdq.draw.filled-rectangle
                              :draw/filled-rectangle]
                             [cdq.draw.arc
                              :draw/arc]
                             [cdq.draw.sector
                              :draw/sector]
                             [cdq.draw.line
                              :draw/line]]]]
 [cdq.multifn/add-methods! [{:optional [cdq.editor.widget/create
                                        cdq.editor.widget/value]}
                            [[cdq.editor.widget.map
                              :s/map]
                             [cdq.editor.widget.default
                              :default]
                             [cdq.editor.widget.edn
                              :widget/edn]
                             [cdq.editor.widget.string
                              :string]
                             [cdq.editor.widget.boolean
                              :boolean]
                             [cdq.editor.widget.enum
                              :enum]
                             [cdq.editor.widget.sound
                              :s/sound]
                             [cdq.editor.widget.one-to-one
                              :s/one-to-one]
                             [cdq.editor.widget.one-to-many
                              :s/one-to-many]
                             [cdq.editor.widget.image
                              :widget/image]
                             [cdq.editor.widget.animation
                              :widget/animation]]]]
 [cdq.multifn/add-methods! [{:required [cdq.effect/applicable?
                                        cdq.effect/handle]
                             :optional [cdq.effect/useful?
                                        cdq.effect/render]}
                            [[cdq.effects.audiovisual
                              :effects/audiovisual]
                             [cdq.effects.projectile
                              :effects/projectile]
                             [cdq.effects.sound
                              :effects/sound]
                             [cdq.effects.spawn
                              :effects/spawn]
                             [cdq.effects.target-all
                              :effects/target-all]
                             [cdq.effects.target-entity
                              :effects/target-entity]
                             [cdq.effects.target.audiovisual
                              :effects.target/audiovisual]
                             [cdq.effects.target.convert
                              :effects.target/convert]
                             [cdq.effects.target.damage
                              :effects.target/damage]
                             [cdq.effects.target.kill
                              :effects.target/kill]
                             [cdq.effects.target.melee-damage
                              :effects.target/melee-damage]
                             [cdq.effects.target.spiderweb
                              :effects.target/spiderweb]
                             [cdq.effects.target.stun
                              :effects.target/stun]]]]
 [cdq.multifn/add-methods! [{:required [cdq.ctx/do!]}
                            [[cdq.tx.assoc
                              :tx/assoc]
                             [cdq.tx.assoc-in
                              :tx/assoc-in]
                             [cdq.tx.dissoc
                              :tx/dissoc]
                             [cdq.tx.effect
                              :tx/effect]
                             [cdq.tx.mark-destroyed
                              :tx/mark-destroyed]
                             [cdq.tx.mod-add
                              :tx/mod-add]
                             [cdq.tx.mod-remove
                              :tx/mod-remove]
                             [cdq.tx.pay-mana-cost
                              :tx/pay-mana-cost]
                             [cdq.tx.pickup-item
                              :tx/pickup-item]
                             [cdq.tx.set-cooldown
                              :tx/set-cooldown]
                             [cdq.tx.add-text-effect
                              :tx/add-text-effect]
                             [cdq.tx.add-skill
                              :tx/add-skill]
                             [cdq.tx.set-item
                              :tx/set-item]
                             [cdq.tx.remove-item
                              :tx/remove-item]
                             [cdq.tx.event
                              :tx/event]
                             [cdq.tx.toggle-inventory-visible
                              :tx/toggle-inventory-visible]
                             [cdq.tx.show-message
                              :tx/show-message]
                             [cdq.tx.show-modal
                              :tx/show-modal]
                             [cdq.tx.sound
                              :tx/sound]
                             [cdq.tx.state-exit
                              :tx/state-exit]
                             [cdq.tx.state-enter
                              :tx/state-enter]
                             [cdq.tx.audiovisual
                              :tx/audiovisual]
                             [cdq.tx.spawn-alert
                              :tx/spawn-alert]
                             [cdq.tx.spawn-line
                              :tx/spawn-line]
                             [cdq.tx.deal-damage
                              :tx/deal-damage]
                             [cdq.tx.set-movement
                              :tx/set-movement]
                             [cdq.tx.move-entity
                              :tx/move-entity]
                             [cdq.tx.spawn-projectile
                              :tx/spawn-projectile]
                             [cdq.tx.spawn-effect
                              :tx/spawn-effect]
                             [cdq.tx.spawn-item
                              :tx/spawn-item]
                             [cdq.tx.spawn-creature
                              :tx/spawn-creature]
                             [cdq.tx.spawn-entity
                              :tx/spawn-entity]
                             ]]]
 [cdq.java.awt/set-taskbar-icon! "icon.png"]
 [cdq.gdx-app/start!
  {:lwjgl-app-config {:title "Cyber Dungeon Quest"
                      :windowed-mode {:width 1440 :height 900}
                      :foreground-fps 60}
   :listener [cdq.application-listener/create
              {:create! [cdq.gdx-app.create/do!
                         {:stage {:skin-scale :x1}
                          :audio {:sounds "sounds.edn"
                                  :path-format "sounds/%s.wav"}
                          :db {:schemas "schema.edn"
                               :properties "properties.edn"}
                          :reset-game-state! cdq.reset-game-state/do!
                          :create-ui-actors [[cdq.ui.dev-menu/create {:menus [{:label "World"
                                                                               :items [cdq.ui.dev-menu.menus.select-world/create
                                                                                       {:world-fns [[cdq.world-fns.tmx/create
                                                                                                     {:tmx-file "maps/vampire.tmx"
                                                                                                      :start-position [32 71]}]
                                                                                                    [cdq.world-fns.uf-caves/create
                                                                                                     {:tile-size 48
                                                                                                      :texture-path "maps/uf_terrain.png"
                                                                                                      :spawn-rate 0.02
                                                                                                      :scaling 3
                                                                                                      :cave-size 200
                                                                                                      :cave-style :wide}]
                                                                                                    [cdq.world-fns.modules/create
                                                                                                     {:world/map-size 5,
                                                                                                      :world/max-area-level 3,
                                                                                                      :world/spawn-rate 0.05}]]
                                                                                        :reset-game-fn cdq.ui.dev-menu/reset-game-fn}
                                                                                       ]}
                                                                              {:label "Help"
                                                                               :items [cdq.ui.dev-menu/help-items]}
                                                                              {:label "Editor"
                                                                               :items [cdq.ui.dev-menu.menus.db/create cdq.editor.widget.map/open-editor-overview-window!]}
                                                                              {:label "Ctx Data"
                                                                               :items [cdq.ui.dev-menu.menus.ctx-data-view/items]}]}]
                                             [cdq.ui.action-bar/create {:id :action-bar}]
                                             [cdq.ui.hp-mana-bar/create {:rahmen-file "images/rahmen.png"
                                                                         :rahmenw 150
                                                                         :rahmenh 26
                                                                         :hpcontent-file "images/hp.png"
                                                                         :manacontent-file "images/mana.png"
                                                                         :y-mana 80}]
                                             [cdq.ui.windows/create]
                                             [cdq.ui.player-state-draw/create]
                                             [cdq.ui.message/create {:duration-seconds 0.5
                                                                     :name "player-message"}]]
                          :starting-level [cdq.world-fns.tmx/create
                                           {:tmx-file "maps/vampire.tmx"
                                            :start-position [32 71]}]
                          :colors [["PRETTY_NAME" [0.84 0.8 0.52 1]]]
                          :tile-size 48
                          :ui-viewport    {:width 1440 :height 900}
                          :world-viewport {:width 1440 :height 900}
                          :cursor-path-format "cursors/%s.png"
                          :cursors {:cursors/bag                   ["bag001"       [0   0]]
                                    :cursors/black-x               ["black_x"      [0   0]]
                                    :cursors/default               ["default"      [0   0]]
                                    :cursors/denied                ["denied"       [16 16]]
                                    :cursors/hand-before-grab      ["hand004"      [4  16]]
                                    :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                                    :cursors/hand-grab             ["hand003"      [4  16]]
                                    :cursors/move-window           ["move002"      [16 16]]
                                    :cursors/no-skill-selected     ["denied003"    [0   0]]
                                    :cursors/over-button           ["hand002"      [0   0]]
                                    :cursors/sandclock             ["sandclock"    [16 16]]
                                    :cursors/skill-not-usable      ["x007"         [0   0]]
                                    :cursors/use-skill             ["pointer004"   [0   0]]
                                    :cursors/walking               ["walking"      [16 16]]}
                          :default-font {:file "exocet/films.EXL_____.ttf"
                                         :params {:size 16
                                                  :quality-scaling 2
                                                  :enable-markup? true
                                                  ; false, otherwise scaling to world-units not visible
                                                  :use-integer-positions? false}}
                          :cdq.game/enemy-components {:entity/fsm {:fsm :fsms/npc
                                                                   :initial-state :npc-sleeping}
                                                      :entity/faction :evil}
                          :cdq.game/player-props {:creature-id :creatures/vampire
                                                  :components {:entity/fsm {:fsm :fsms/player
                                                                            :initial-state :player-idle}
                                                               :entity/faction :good
                                                               :entity/player? true
                                                               :entity/free-skill-points 3
                                                               :entity/clickable {:type :clickable/player}
                                                               :entity/click-distance-tiles 1.5}}
                          :cdq.reset-game-state/world {:content-grid-cell-size 16
                                                       :potential-field-factions-iterations {:good 15
                                                                                             :evil 5}}
                          :effect-body-props {:width 0.5
                                              :height 0.5
                                              :z-order :z-order/effect}

                          :controls {:zoom-in :minus
                                     :zoom-out :equals
                                     :unpause-once :p
                                     :unpause-continously :space}}]

               :dispose! cdq.gdx-app.dispose/do!
               :render! [
                         cdq.render.validate/do!
                         cdq.render.assoc-mouseover-keys/do!
                         cdq.render.update-mouseover-eid/do!
                         cdq.render.check-open-debug-data/do! ; TODO FIXME its not documented I forgot rightclick can open debug data view!
                         cdq.render.assoc-active-entities/do!
                         cdq.render.set-camera-on-player/do!
                         cdq.render.clear-screen/do!
                         cdq.render.draw-world-map/do!
                         [cdq.render.draw-on-world-viewport/do! [cdq.draw-on-world-viewport.tile-grid/do!
                                                                 cdq.draw-on-world-viewport.cell-debug/do!
                                                                 cdq.draw-on-world-viewport.entities/do!
                                                                 ;cdq.draw-on-world-viewport.geom-test/do!
                                                                 cdq.draw-on-world-viewport.highlight-mouseover-tile/do!]]
                         cdq.render.render-stage/do!
                         cdq.render.set-cursor/do!
                         cdq.render.player-state-handle-input/do!
                         cdq.render.assoc-paused/do!
                         cdq.render.tick-world/do!
                         cdq.render.remove-destroyed-entities/do! ; do not pause as pickup item should be destroyed
                         cdq.render.handle-key-input/do!
                         cdq.render.dissoc-mouseover-keys/do!
                         cdq.render.validate/do!
                         ; :cdq.render/validate
                         ; -> render multifn / method map ?
                         ; tx just  method map ?
                         ]
               :resize! cdq.gdx-app.resize/do!}]
   }
  ]
]
