[(clojure.java.awt.taskbar/set-icon "moon.png")
 (clojure.utils/dispatch (clojure.gdx.utils/operating-system)
                         {:mac [(clojure.lwjgl.system.configuration/set-glfw-library-name "glfw_async")]})
 (cdq.application/start {:lwjgl-app{:title "Cyber Dungeon Quest"
                                    :windowed-mode {:width 1440
                                                    :height 900}
                                    :foreground-fps 60}
                         :create-components [[:context/entity-components         cdq.create.entity-components]
                                             [:cdq/effects                       cdq.create.effects]
                                             [:cdq/schemas                       cdq.create.schemas]
                                             [:cdq/db                            cdq.create.db]
                                             [:cdq/assets                        cdq.create.assets]
                                             [:cdq.graphics/batch                cdq.create.batch]
                                             [:cdq.graphics/shape-drawer-texture cdq.create.shape-drawer-texture]
                                             [:cdq.graphics/shape-drawer         cdq.create.shape-drawer]
                                             [:cdq.graphics/cursors              cdq.create.cursors]
                                             [:cdq.graphics/default-font         cdq.create.default-font]
                                             [:cdq.graphics/world-unit-scale     cdq.create.world-unit-scale]
                                             [:cdq.graphics/tiled-map-renderer   cdq.create.tiled-map-renderer]
                                             [:cdq.graphics/ui-viewport          cdq.create.ui-viewport]
                                             [:cdq.graphics/world-viewport       cdq.create.world-viewport]
                                             [:cdq.context/stage                 cdq.create.stage]
                                             [:cdq.context/elapsed-time          cdq.create.elapsed-time]
                                             [:cdq.context/player-message        cdq.create.player-message]
                                             [:cdq.context/level                 cdq.create.level]
                                             [:cdq.context/error                 cdq.create.error]
                                             [:cdq.context/tiled-map             cdq.create.tiled-map]
                                             [:cdq.context/explored-tile-corners cdq.create.explored-tile-corners]
                                             [:cdq.context/grid                  cdq.create.grid]
                                             [:cdq.context/raycaster             cdq.create.raycaster]
                                             [:cdq.context/content-grid          cdq.create.content-grid]
                                             [:cdq.context/entity-ids            cdq.create.entity-ids]
                                             [:cdq.context/factions-iterations   cdq.create.factions-iterations]
                                             [:world/potential-field-cache       cdq.create.potential-fields]
                                             [:cdq.context/player-eid            cdq.create.player-eid]]
                         :render-fns [cdq.render.assoc-active-entities
                                      cdq.render.set-camera-on-player
                                      cdq.render.clear-screen
                                      cdq.render.tiled-map
                                      cdq.render.draw-on-world-view
                                      cdq.render.stage
                                      cdq.render.player-state-input
                                      cdq.render.update-mouseover-entity
                                      cdq.render.update-paused
                                      cdq.render.when-not-paused
                                      cdq.render.remove-destroyed-entities
                                      cdq.render.camera-controls
                                      cdq.render.window-controls]})]
