{
 :config {:title "Cyber Dungeon Quest"
          :windowed-mode {:width 1440
                          :height 900}
          :foreground-fps 60}
 :requires [
            cdq.info-impl
            clojure.scene2d.builds
            cdq.scene2d.build.editor-overview-window
            cdq.scene2d.build.editor-window
            cdq.scene2d.build.map-widget-table
            clojure.scene2d.build.actor
            clojure.scene2d.build.group
            clojure.scene2d.build.horizontal-group
            clojure.scene2d.build.scroll-pane
            clojure.scene2d.build.separator-horizontal
            clojure.scene2d.build.separator-vertical
            clojure.scene2d.build.stack
            clojure.scene2d.build.widget
            cdq.ui.actor-information
            cdq.ui.error-window
            ]
 :create-pipeline [[record]
                   [handle-txs]
                   [db]
                   [graphics [cdq.graphics.impl/create
                              {:tile-size 48
                               :ui-viewport {:width 1440
                                             :height 900}
                               :world-viewport {:width 1440
                                                :height 900}
                               :texture-folder {:folder "resources/"
                                                :extensions #{"png" "bmp"}}
                               :default-font {:path "exocet/films.EXL_____.ttf"
                                              :params {:size 16
                                                       :quality-scaling 2
                                                       :enable-markup? true
                                                       :use-integer-positions? false
                                                       ; :texture-filter/linear because scaling to world-units
                                                       :min-filter :linear
                                                       :mag-filter :linear}}
                               :colors {"PRETTY_NAME" [0.84 0.8 0.52 1]}
                               :cursors {:path-format "cursors/%s.png"
                                         :data {:cursors/bag                   ["bag001"       [0   0]]
                                                :cursors/black-x               ["black_x"      [0   0]]
                                                :cursors/default               ["default"      [0   0]]
                                                :cursors/denied                ["denied"       [16 16]]
                                                :cursors/hand-before-grab      ["hand004"      [4  16]]
                                                :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                                                :cursors/hand-grab             ["hand003"      [4  16]]
                                                :cursors/move-window           ["move002"      [16 16]]
                                                :cursors/no-skill-selected     ["denied003"    [0   0]]
                                                :cursors/over-button           ["hand002"      [0   0]]
                                                :cursors/sandclock             ["sandclock"    [16 16]]
                                                :cursors/skill-not-usable      ["x007"         [0   0]]
                                                :cursors/use-skill             ["pointer004"   [0   0]]
                                                :cursors/walking               ["walking"      [16 16]]}}}]]
                   [vis-ui {:skin-scale :x1}]
                   [stage [[cdq.ctx.create.ui.dev-menu/create cdq.ctx.create.world/do!]
                           [cdq.ctx.create.ui.action-bar/create]
                           [cdq.ctx.create.ui.hp-mana-bar/create]
                           [cdq.ctx.create.ui.windows/create [[cdq.ctx.create.ui.windows.entity-info/create]
                                                              [cdq.ctx.create.ui.windows.inventory/create]]]
                           [cdq.ctx.create.ui.player-state-draw/create]
                           [cdq.ctx.create.ui.message/create]]]
                   [input]
                   [audio]
                   [world "world_fns/vampire.edn"]]
 :render-pipeline [[get-stage-ctx]
                   [validate]
                   [update-mouse]
                   [update-mouseover-eid]
                   [check-open-debug]
                   [assoc-active-entities]
                   [set-camera-on-player]
                   [clear-screen]
                   [draw-world-map]
                   [draw-on-world-viewport [cdq.ctx.render.draw-on-world-viewport.draw-tile-grid/do!
                                            cdq.ctx.render.draw-on-world-viewport.draw-cell-debug/do!
                                            cdq.ctx.render.draw-on-world-viewport.draw-entities/do!
                                            #_cdq.ctx.render.draw-on-world-viewport.geom-test/do!
                                            cdq.ctx.render.draw-on-world-viewport.highlight-mouseover-tile/do!]]
                   [assoc-interaction-state]
                   [set-cursor]
                   [player-state-handle-input]
                   [dissoc-interaction-state]
                   [assoc-paused]
                   [update-world-time]
                   [update-potential-fields]
                   [tick-entities]
                   [remove-destroyed-entities]
                   [window-camera-controls]
                   [render-stage]
                   [validate]]
 :dispose cdq.ctx.dispose/do!
 :resize cdq.ctx.resize/do!
 }
