{:operating-sytem->executables {:mac [[clojure.lwjgl.system.configuration/set-glfw-library-name! "glfw_async"]
                                      [clojure.java.awt/set-taskbar-icon! "icon.png"]]}
 :config {:title "Cyber Dungeon Quest"
          :windowed-mode {:width 1440 :height 900}
          :foreground-fps 60}
 :state-atom cdq.application/state
 }
