[(clojure.java.awt/set-taskbar-icon "moon.png")
 (clojure.utils/dispatch-on (clojure.gdx.utils.shared-library-loader/os)
                            {:mac-osx [(clojure.lwjgl.system.configuration/GLFW_LIBRARY_NAME "glfw_async")]})
 (cdq.application/-main)]
