[com.badlogic.gdx.backends.lwjgl3.init.listener/do!
 com.badlogic.gdx.backends.lwjgl3.init.config/do!
 com.badlogic.gdx.backends.lwjgl3.init.application/do!
 com.badlogic.gdx.backends.lwjgl3.init.gl-emulation/before-glfw
 com.badlogic.gdx.backends.lwjgl3.init.glfw/do!
 com.badlogic.gdx.backends.lwjgl3.init.logger/do!
 com.badlogic.gdx.backends.lwjgl3.init.gdx/set-app!
 com.badlogic.gdx.backends.lwjgl3.init.audio/do!
 com.badlogic.gdx.backends.lwjgl3.init.gdx/set-audio!
 com.badlogic.gdx.backends.lwjgl3.init.files/do!
 com.badlogic.gdx.backends.lwjgl3.init.gdx/set-files!
 com.badlogic.gdx.backends.lwjgl3.init.net/do!
 com.badlogic.gdx.backends.lwjgl3.init.clipboard/do!
 com.badlogic.gdx.backends.lwjgl3.init.gdx/set-net!
 com.badlogic.gdx.backends.lwjgl3.init.sync/do!
 com.badlogic.gdx.backends.lwjgl3.init.window/do!
 com.badlogic.gdx.backends.lwjgl3.init.gl-emulation/after-window-creation
 com.badlogic.gdx.backends.lwjgl3.init.add-window/do!
 com.badlogic.gdx.backends.lwjgl3.init.main-loop/do!]
