[[cdq.game.create.record/do!]
 [cdq.game.create.get-gdx/do!]
 [cdq.game.create.tx-handler/do!]
 [cdq.game.create.db/do!]
 [cdq.game.create.graphics/do! #edn/resource "graphics.edn"]
 [cdq.game.create.ui/do! #edn/resource "ui.edn"]
 [cdq.game.create.input-processor/do!]
 [cdq.game.create.audio/do! #edn/resource "audio.edn"]
 [cdq.game.create.world/do! #edn/resource "world.edn"]]
