{
 :cdq.application.start/pipeline [cdq.application.context.record/create
                                  cdq.tx-handler/extend-ctx
                                  cdq.extend-scene2d/do!
                                  cdq.application.os-specific-settings/handle!
                                  cdq.fsms/add
                                  cdq.entity-components/add
                                  cdq.create.effects/do!
                                  cdq.create.editor-widgets/do!
                                  cdq.spawn-entity-schema/add
                                  cdq.create.ui-actors/do!
                                  cdq.create.draw-on-world-viewport/do!
                                  cdq.create.config/do!
                                  cdq.create.colors/do!
                                  cdq.create.draw-fns/do!
                                  cdq.create.render-layers/do!
                                  cdq.create.info/do!
                                  cdq.create.db/do!
                                  cdq.create.unit-scale/do!
                                  cdq.create.world-unit-scale/do!
                                  cdq.create.frame/do!
                                  cdq.application/self-reference
                                  cdq.application.lwjgl/start!]
 :ctx/os-settings {:mac [[clojure.lwjgl.system.configuration/set-glfw-library-name! "glfw_async"]
                         [clojure.java.awt/set-taskbar-icon! "icon.png"]]}
 :ctx/lwjgl {:title "Cyber Dungeon Quest"
             :windowed-mode {:width 1440 :height 900}
             :foreground-fps 60}
 :ctx/create-fn cdq.create.lwjgl-create-pipeline/do!
 :ctx/render-fn cdq.render-pipeline/do!
 :ctx/render-pipeline [cdq.render.validate/do!
                       cdq.render.assoc-mouseover-keys/do!
                       cdq.render.update-mouseover-eid/do!
                       cdq.render.check-open-debug-data/do!
                       cdq.render.assoc-active-entities/do!
                       cdq.render.set-camera-on-player/do!
                       cdq.render.clear-screen/do!
                       cdq.render.draw-world-map/do!
                       cdq.render.draw-on-world-viewport/do!
                       cdq.render.render-stage/do!
                       cdq.render.set-cursor/do!
                       cdq.render.player-state-handle-input/do!
                       cdq.render.assoc-paused/do!
                       cdq.render.tick-world/do! ; entity->tick
                       cdq.render.remove-destroyed-entities/do! ; do not pause as pickup item should be destroyed
                       cdq.render.handle-key-input/do!
                       cdq.render.dissoc-mouseover-keys/do!
                       cdq.render.validate/do!]
 :ctx/dispose-fn cdq.gdx-app.dispose/do!
 :ctx/resize-fn  cdq.gdx-app.resize/do!
 }
