{
 :ctx/schema [:map {:closed true}
              [:ctx/active-entities :some]
              [:ctx/audio :some]
              [:ctx/batch :some]
              [:ctx/draw-fns :some]
              [:ctx/config :some]
              [:ctx/content-grid :some]
              [:ctx/cursors :some]
              [:ctx/db :some]
              [:ctx/default-font :some]
              [:ctx/delta-time :some]
              [:ctx/elapsed-time :some]
              [:ctx/entity-ids :some]
              [:ctx/explored-tile-corners :some]
              [:ctx/factions-iterations :some]
              [:ctx/graphics :some]
              [:ctx/grid :some]
              [:ctx/id-counter :some]
              [:ctx/info :some]
              [:ctx/input :some]
              [:ctx/max-delta :some]
              [:ctx/max-speed :some]
              [:ctx/minimum-size :some]
              [:ctx/mouseover-eid :any]
              [:ctx/paused? :any]
              [:ctx/player-eid :some]
              [:ctx/potential-field-cache :some]
              [:ctx/raycaster :some]
              [:ctx/render-layers :some]
              [:ctx/render-z-order :some]
              [:ctx/schema :some]
              [:ctx/shape-drawer :some]
              [:ctx/shape-drawer-texture :some]
              [:ctx/stage :some]
              [:ctx/textures :some]
              [:ctx/tiled-map-renderer :some]
              [:ctx/ui-viewport :some]
              [:ctx/unit-scale :some]
              [:ctx/world-unit-scale :some]
              [:ctx/world-viewport :some]
              [:ctx/z-orders :some]


              [:ctx/interaction-state :some]
              [:ctx/application-state :some]
              [:ctx/fsms :some]
              [:ctx/entity-components :some]
              [:ctx/spawn-entity-schema :some]

              [:ctx/world :some]
              ]

 :ctx/config {
              :cdq.start [
                          read-schema
                          bind-roots
                          context-record
                          register-self
                          fsms
                          entity-components
                          tx-spawn-schema
                          info
                          db
                          render-layers
                          os-settings
                          colors
                          txs
                          extend-scene2d
                          stage-impl
                          load-draw-fns
                          lwjgl
                          ]

              :cdq.start.bind-roots {
                                     cdq.entity.state/->create
                                     cdq.entity.state.create/function-map

                                     cdq.entity.state/state->enter
                                     cdq.entity.state.enter/function-map

                                     cdq.entity.state/state->cursor
                                     cdq.entity.state.cursor/function-map

                                     cdq.entity.state/state->exit
                                     cdq.entity.state.exit/function-map

                                     cdq.entity.state/state->handle-input
                                     cdq.entity.state.handle-input/function-map

                                     cdq.ui.windows/state->clicked-inventory-cell
                                     cdq.entity.state.clicked-inventory-cell/function-map

                                     cdq.editor.widget/k->methods
                                     cdq.editor.widgets/k->methods

                                     cdq.effect/k->method-map
                                     cdq.effects/method-map

                                     cdq.entity-tick/entity->tick
                                     cdq.entity.tick/function-map

                                     cdq.start.txs/txs-fn-map
                                     cdq.txs/txs-fn-map
                                     }

              :cdq.start.register-self cdq.application/state

              :cdq.start.os-settings {:mac [[clojure.lwjgl.system.configuration/set-glfw-library-name! "glfw_async"]
                                            [clojure.java.awt/set-taskbar-icon! "icon.png"]]}

              :cdq.start.lwjgl {
                                :listener cdq.start.lwjgl.listener/create
                                :config {:title "Cyber Dungeon Quest"
                                         :windowed-mode {:width 1440 :height 900}
                                         :foreground-fps 60}
                                }

              :cdq.start.lwjgl.listener {
                                         :render cdq.render-pipeline/do!
                                         :dispose cdq.gdx-app.dispose/do!
                                         :resize cdq.gdx-app.resize/do!
                                         :reset-game-state cdq.application.reset-game-state/reset-game-state!
                                         :after-gdx-create cdq.application.gdx-create/after-gdx-create!
                                         :starting-world [cdq.world-fns.tmx/create
                                                          {:tmx-file "maps/vampire.tmx"
                                                           :start-position [32 71]}]
                                         }

              :cdq.application.reset-game-state
              {
               :create-ui-actors [[cdq.ui.dev-menu/create {:menus [{:label "World"
                                                                    :items [cdq.ui.dev-menu.menus.select-world/create
                                                                            {:world-fns [[cdq.world-fns.tmx/create
                                                                                          {:tmx-file "maps/vampire.tmx"
                                                                                           :start-position [32 71]}]
                                                                                         [cdq.world-fns.uf-caves/create
                                                                                          {:tile-size 48
                                                                                           :texture-path "maps/uf_terrain.png"
                                                                                           :spawn-rate 0.02
                                                                                           :scaling 3
                                                                                           :cave-size 200
                                                                                           :cave-style :wide}]
                                                                                         [cdq.world-fns.modules/create
                                                                                          {:world/map-size 5,
                                                                                           :world/max-area-level 3,
                                                                                           :world/spawn-rate 0.05}]]
                                                                             :reset-game-fn cdq.ui.dev-menu/reset-game-fn}
                                                                            ]}
                                                                   {:label "Help"
                                                                    :items [cdq.ui.dev-menu/help-items]}
                                                                   {:label "Editor"
                                                                    :items [cdq.ui.dev-menu.menus.db/create]}
                                                                   {:label "Ctx Data"
                                                                    :items [cdq.ui.dev-menu.menus.ctx-data-view/items]}]}]
                                  [cdq.ui.action-bar/create {:id :action-bar}]
                                  [cdq.ui.hp-mana-bar/create {:rahmen-file "images/rahmen.png"
                                                              :rahmenw 150
                                                              :rahmenh 26
                                                              :hpcontent-file "images/hp.png"
                                                              :manacontent-file "images/mana.png"
                                                              :y-mana 80}]
                                  [cdq.ui.windows/create]
                                  [cdq.ui.player-state-draw/create]
                                  [cdq.ui.message/create {:duration-seconds 0.5
                                                          :name "player-message"}]]

               }

              :cdq.render-pipeline {
                                    :draw-on-world-viewport [
                                                             cdq.draw-on-world-viewport.tile-grid/do!
                                                             cdq.draw-on-world-viewport.cell-debug/do!
                                                             cdq.draw-on-world-viewport.entities/do!
                                                             ;cdq.draw-on-world-viewport.geom-test/do! : TODO can this be an independent test ?
                                                             cdq.draw-on-world-viewport.highlight-mouseover-tile/do!

                                                             ]

                                    }

              :cdq.game/enemy-components {:entity/fsm {:fsm :fsms/npc
                                                       :initial-state :npc-sleeping}
                                          :entity/faction :evil}
              :cdq.game/player-props {:creature-id :creatures/vampire
                                      :components {:entity/fsm {:fsm :fsms/player
                                                                :initial-state :player-idle}
                                                   :entity/faction :good
                                                   :entity/player? true
                                                   :entity/free-skill-points 3
                                                   :entity/clickable {:type :clickable/player}
                                                   :entity/click-distance-tiles 1.5}}
              :world {:content-grid-cell-size 16
                      :potential-field-factions-iterations {:good 15
                                                            :evil 5}}
              :effect-body-props {:width 0.5
                                  :height 0.5
                                  :z-order :z-order/effect}

              :controls {:zoom-in :minus
                         :zoom-out :equals
                         :unpause-once :p
                         :unpause-continously :space}
              :cdq.editor.widget.map {
                                      :property-k-sort-order [:property/id
                                                              :property/pretty-name
                                                              :entity/image
                                                              :entity/animation
                                                              :entity/species
                                                              :creature/level
                                                              :entity/body
                                                              :item/slot
                                                              :projectile/speed
                                                              :projectile/max-range
                                                              :projectile/piercing?
                                                              :skill/action-time-modifier-key
                                                              :skill/action-time
                                                              :skill/start-action-sound
                                                              :skill/cost
                                                              :skill/cooldown]
                                      }
              }
 :ctx/mouseover-eid nil
 :ctx/paused? nil
 :ctx/delta-time 2
 :ctx/active-entities 1
 :ctx/interaction-state :yes

 :ctx/max-delta 0.04
 :ctx/minimum-size 0.39
 :ctx/z-orders [:z-order/on-ground
                :z-order/ground
                :z-order/flying
                :z-order/effect]

 :ctx/draw-fns {:draw/with-line-width  cdq.draw.with-line-width/do!
                :draw/grid             cdq.draw.grid/do!
                :draw/texture-region   cdq.gdx.graphics/draw-texture-region!
                :draw/text             cdq.gdx.graphics/draw-text!
                :draw/ellipse          cdq.gdx.graphics/draw-ellipse!
                :draw/filled-ellipse   cdq.gdx.graphics/draw-filled-ellipse!
                :draw/circle           cdq.gdx.graphics/draw-circle!
                :draw/filled-circle    cdq.gdx.graphics/draw-filled-circle!
                :draw/rectangle        cdq.gdx.graphics/draw-rectangle!
                :draw/filled-rectangle cdq.gdx.graphics/draw-filled-rectangle!
                :draw/arc              cdq.gdx.graphics/draw-arc!
                :draw/sector           cdq.gdx.graphics/draw-sector!
                :draw/line             cdq.gdx.graphics/draw-line!}
 }
