{
 :editor/property-k-sort-order [:property/id
                                :property/pretty-name
                                :entity/image
                                :entity/animation
                                :entity/species
                                :creature/level
                                :entity/body
                                :item/slot
                                :projectile/speed
                                :projectile/max-range
                                :projectile/piercing?
                                :skill/action-time-modifier-key
                                :skill/action-time
                                :skill/start-action-sound
                                :skill/cost
                                :skill/cooldown]
 :editor/overview-table {
                         :properties/audiovisuals {:columns 10
                                                   :image-scale 2
                                                   :sort-by-fn      cdq.properties.audiovisuals/sort-by-fn
                                                   :extra-info-text cdq.properties.audiovisuals/extra-info-text}
                         :properties/creatures    {:columns 15
                                                   :image-scale 1.5
                                                   :sort-by-fn      cdq.properties.creatures/sort-by-fn
                                                   :extra-info-text cdq.properties.creatures/extra-info-text}
                         :properties/items        {:columns 20
                                                   :image-scale 1.1
                                                   :sort-by-fn      cdq.properties.items/sort-by-fn
                                                   :extra-info-text cdq.properties.items/extra-info-text}
                         :properties/projectiles  {:columns 16
                                                   :image-scale 2
                                                   :sort-by-fn      cdq.properties.projectiles/sort-by-fn
                                                   :extra-info-text cdq.properties.projectiles/extra-info-text}
                         :properties/skills       {:columns 16
                                                   :image-scale 2
                                                   :sort-by-fn      cdq.properties.skills/sort-by-fn
                                                   :extra-info-text cdq.properties.skills/extra-info-text}
                         }
 }
