[
 [com.badlogic.gdx.scenes.scene2d.Group
  clojure.gdx.scene2d.group
  clojure.scene2d.group/Group]

 [com.badlogic.gdx.scenes.scene2d.Event
  clojure.gdx.scene2d.event
  clojure.scene2d.event/Event]

 ; cdq relevant not levelgen
 [com.badlogic.gdx.scenes.scene2d.Stage
  cdq.gdx.stage
  cdq.ctx.stage/Stage]
 ;

 [com.badlogic.gdx.scenes.scene2d.ui.Table
  clojure.gdx.scene2d.ui.table
  clojure.scene2d.ui.table/Table]

 [com.badlogic.gdx.maps.tiled.TiledMapTileLayer
  clojure.gdx.maps.tiled.layer
  clojure.tiled/HasMapProperties]

 [com.badlogic.gdx.maps.tiled.TiledMapTileLayer
  clojure.gdx.maps.tiled.layer
  clojure.tiled/TMapLayer]
 ]
