{:config {:title "Forge"
          :fps 60
          :width 1440
          :height 900
          :taskbar-icon "moon.png"}
 :context [[:gdl.context/batch]
           [:gdl.context/assets "resources/"]
           [:gdl.context/db {:schema "schema.edn"
                             :properties "properties.edn"}]
           ; TODO shape-drawer-texture separate ... ?
           ; thats cool - whats the component / system / install API ?
           ; both defcomponent and install possible ?
           ; or just defmethods ?
           [:gdl.context/shape-drawer]
           [:gdl.context/default-font {:file "fonts/exocet/films.EXL_____.ttf"
                                       :size 16
                                       :quality-scaling 2}]
           [:gdl.context/cursors {:cursors/bag                   ["bag001"       [0   0]]
                                  :cursors/black-x               ["black_x"      [0   0]]
                                  :cursors/default               ["default"      [0   0]]
                                  :cursors/denied                ["denied"       [16 16]]
                                  :cursors/hand-before-grab      ["hand004"      [4  16]]
                                  :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                                  :cursors/hand-grab             ["hand003"      [4  16]]
                                  :cursors/move-window           ["move002"      [16 16]]
                                  :cursors/no-skill-selected     ["denied003"    [0   0]]
                                  :cursors/over-button           ["hand002"      [0   0]]
                                  :cursors/sandclock             ["sandclock"    [16 16]]
                                  :cursors/skill-not-usable      ["x007"         [0   0]]
                                  :cursors/use-skill             ["pointer004"   [0   0]]
                                  :cursors/walking               ["walking"      [16 16]]}]
           [:gdl.context/viewport {:width 1440
                                   :height 900}]
           [:gdl.context/world-unit-scale 48]
           [:gdl.context/world-viewport {:width 1440
                                         :height 900}]
           [:gdl.context/tiled-map-renderer]
           [:gdl.context/ui :skin-scale/x1]
           [:gdl.context/stage]
           [:gdl.context/elapsed-time nil] ; game speed config!?
           [:cdq.context/stage-actors]
           [:cdq.context/level :worlds/uf-caves]
           [:cdq.context/tiled-map] ; TODO missing cleanup on restart world ... !

; TODO unused
;#_(defn- dispose-game-state [{::keys [tiled-map]}]
;  (when tiled-map
;    (tiled/dispose tiled-map)))

           [:cdq.context/grid nil]
           [:cdq.context/explored-tile-corners nil]
           [:cdq.context/content-grid {:cell-size 16}]
           [:cdq.context/entity-ids nil]
           [:cdq.context/raycaster nil]
           [:cdq.context/factions-iterations {:good 15 :evil 5}]
           ; "The elapsed in-game-time in seconds (not counting when game is paused)."
           [:cdq.context/player-eid nil] ; pass props
           ;:mouseover-eid nil ; ?
           ;:delta-time "The game logic update delta-time in ms."
           ;(bind-root world/delta-time nil) ?
           [:cdq.context/error nil]
           [:cdq.context/spawn-enemies]
           [:cdq.context/player-message {:duration-seconds 1.5}]]
 :transactions [gdl.graphics/clear-screen
                cdq.graphics.camera/set-on-player-position
                cdq.graphics.tiled-map/render
                cdq.graphics/draw-world-view
                gdl.graphics/draw-stage

                ; updates
                gdl.context/update-stage
                cdq.context/handle-player-input
                cdq.context/update-mouseover-entity
                cdq.context/update-paused-state
                cdq.context/progress-time-if-not-paused
                cdq.context/remove-destroyed-entities  ; do not pause this as for example pickup item, should be destroyed.
                gdl.context/check-camera-controls
                cdq.context/check-ui-key-listeners]
 }
