[[master.yoda.provide/do!
  [[com.badlogic.gdx.Files
    clojure.gdx.files
    clojure.files/Files]
   [com.badlogic.gdx.files.FileHandle
    clojure.gdx.files.file-handle
    clojure.files.file-handle/FileHandle]
   [com.badlogic.gdx.Graphics
    clojure.gdx.graphics
    clojure.graphics/Graphics]
   [com.badlogic.gdx.Input
    clojure.gdx.input
    clojure.input/Input]
   [com.badlogic.gdx.utils.Disposable
    clojure.gdx.utils.disposable
    clojure.utils.disposable/Disposable]
   [com.badlogic.gdx.graphics.g2d.Batch
    clojure.gdx.graphics.g2d.batch
    clojure.graphics.g2d.batch/Batch]
   [com.badlogic.gdx.utils.viewport.Viewport
    clojure.gdx.utils.viewport
    clojure.graphics.viewport/Viewport]
   [com.badlogic.gdx.graphics.Texture
    clojure.gdx.graphics.texture
    clojure.graphics.texture/Texture]
   [com.badlogic.gdx.graphics.g2d.TextureRegion
    clojure.gdx.graphics.g2d.texture-region
    clojure.graphics.g2d.texture-region/TextureRegion]
   [com.badlogic.gdx.graphics.OrthographicCamera
    gdx.graphics.camera
    gdl.graphics.camera/Camera]
   [com.badlogic.gdx.scenes.scene2d.Actor
    gdx.ui.actor
    gdl.ui.actor/Actor]
   [com.badlogic.gdx.scenes.scene2d.Group
    gdx.ui.group
    gdl.ui.group/Group]
   [com.badlogic.gdx.scenes.scene2d.ui.Table
    gdx.ui.table
    gdl.ui.table/Table]
   [gdl.ui.CtxStage
    gdx.ui.stage
    gdl.ui.stage/Stage]
   [com.badlogic.gdx.scenes.scene2d.ui.Image
    gdx.ui.image
    gdl.ui.image/Image]
   [gdl.create.graphics.Graphics
    gdl.create.graphics.handle-draws
    gdl.graphics/DeclarativeDraws]
   ]]]
