{:k->colors {:property/pretty-name "PRETTY_NAME"
             :entity/modifiers "CYAN"
             :maxrange "LIGHT_GRAY"
             :creature/level "GRAY"
             :projectile/piercing? "LIME"
             :skill/action-time-modifier-key "VIOLET"
             :skill/action-time "GOLD"
             :skill/cooldown "SKY"
             :skill/cost "CYAN"
             :entity/delete-after-duration "LIGHT_GRAY"
             :entity/faction "SLATE"
             :entity/fsm "YELLOW"
             :entity/species "LIGHT_GRAY"
             :entity/temp-modifier "LIGHT_GRAY"}
 :k-order [:property/pretty-name
           :skill/action-time-modifier-key
           :skill/action-time
           :skill/cooldown
           :skill/cost
           :skill/effects
           :entity/species
           :creature/level
           :creature/stats
           :entity/delete-after-duration
           :projectile/piercing?
           :entity/projectile-collision
           :maxrange
           :entity-effects]
 :info-fns {:creature/level cdq.creature.level/info-text
            :creature/stats cdq.entity.stats/info-text
            :effects.target/convert cdq.effects.target.convert/info-text
            :effects.target/damage cdq.effects.target.damage/info-text
            :effects.target/kill cdq.effects.target.kill/info-text
            :effects.target/melee-damage cdq.effects.target.melee-damage/info-text
            :effects.target/spiderweb cdq.effects.target.spiderweb/info-text
            :effects.target/stun cdq.effects.target.stun/info-text
            :effects/spawn cdq.effects.spawn/info-text
            :effects/target-all cdq.effects.target-all/info-text
            :entity/delete-after-duration cdq.entity.delete-after-duration/info-text
            :entity/faction cdq.entity.faction/info-text
            :entity/fsm cdq.entity.fsm/info-text
            :entity/modifiers cdq.entity.modifiers/info-text
            :entity/skills cdq.entity.skills/info-text
            :entity/species cdq.entity.species/info-text
            :entity/temp-modifier cdq.entity.temp-modifier/info-text
            :projectile/piercing? cdq.projectile.piercing/info-text
            :property/pretty-name cdq.property.pretty-name/info-text
            :skill/action-time cdq.skill.action-time/info-text
            :skill/action-time-modifier-key cdq.skill.action-time-modifier-key/info-text
            :skill/cooldown cdq.skill.cooldown/info-text
            :skill/cost cdq.skill.cost/info-text
            :maxrange cdq.maxrange/info-text}}
