[[gdl.backends.desktop/dispatch-on-os
  {:mac
   [[org.lwjgl.system.configuration/set-glfw-library-name! "glfw_async"]
    [clojure.java.awt.taskbar/set-icon-image! "icon.png"]]}]

 [clojure.core/require
  gdl.backends.gdx.extends.files
  gdl.backends.gdx.extends.graphics
  gdl.backends.gdx.extends.input]

 [gdl.backends.desktop/application
  {:listener {:create  cdq.levelgen/create!
              :dispose cdq.levelgen/dispose!
              :pause   cdq.levelgen/pause!
              :render  cdq.levelgen/render!
              :resize  cdq.levelgen/resize!
              :resume  cdq.levelgen/resume!}
   :config {:title "Levelgen test"
            :windowed-mode {:width 1440 :height 900}
            :foreground-fps 60}}]]
