[[gdl.start/-main "gdx_abstraction.edn"]
 [master.yoda/dispatch [clojure.gdx.utils.shared-library-loader/operating-system {:mac [[gdl.lwjgl/set-glfw-library-name! "glfw_async"]]}]]
 [gdx.backends.lwjgl.application/start!
  [{:title "Levelgen test"
    :windowed-mode {:width 1440 :height 900}
    :foreground-fps 60}
   {:create! [cdq.levelgen/create!]
    :dispose! cdq.levelgen/dispose!
    :render! [cdq.levelgen/render!]
    :resize! cdq.levelgen/resize!}]]]
