{:mac-os {:glfw-async? true}
 :clojure.gdx.lwjgl/config {:title "Mapgen Test"
                            :windowed-mode {:width 1440
                                            :height 900}}
 :clojure.gdx.lwjgl/create!  cdq.levelgen/create!
 :clojure.gdx.lwjgl/dispose! cdq.levelgen/dispose!
 :clojure.gdx.lwjgl/render!  cdq.levelgen/render!
 :clojure.gdx.lwjgl/resize!  cdq.levelgen/resize!}
