[(cdq.render.validate/do!)
 (cdq.render.update-mouse/do!)
 (cdq.render.update-mouseover-eid/do!)
 (cdq.render.check-open-debug/do!)
 (cdq.render.assoc-active-entities/do!)
 (cdq.render.set-camera-on-player/do!)
 (cdq.render.clear-screen/do!)
 (cdq.render.draw-world-map/do!)
 (cdq.render.draw-on-world-viewport/do! [
                                         [cdq.render.draw-on-world-viewport.tile-grid/do!]
                                         [cdq.render.draw-on-world-viewport.cell-debug/do!]
                                         [cdq.render.draw-on-world-viewport.entities/do!]
                                         #_ [cdq.render.draw-on-world-viewport.geom-test/do!]
                                         [cdq.render.draw-on-world-viewport.highlight-mouseover-tile/do!]
                                         ])
 (cdq.render.assoc-interaction-state/do!)
 (cdq.render.set-cursor/do!)
 (cdq.render.player-state-handle-input/do!)
 (cdq.render.assoc-paused/do!)
 (cdq.render.update-time/do!)
 (cdq.render.update-potential-fields/do!)
 (cdq.render.tick-entities/do!)
 (cdq.render.remove-destroyed-entities/do!)
 (cdq.render.handle-key-input/do!)
 (cdq.render.validate/do!)]
