[(cdq.application.render.validate/do!)
 (cdq.application.render.update-mouse/do!)
 (cdq.application.render.update-mouseover-eid/do!)
 (cdq.application.render.check-open-debug/do!)
 (cdq.application.render.assoc-active-entities/do!)
 (cdq.application.render.set-camera-on-player/do!)
 (cdq.application.render.clear-screen/do!)
 (cdq.application.render.draw-world-map/do!)
 (cdq.application.render.draw-on-world-viewport/do! [
                                         [cdq.application.render.draw-on-world-viewport.tile-grid/do!]
                                         [cdq.application.render.draw-on-world-viewport.cell-debug/do!]
                                         [cdq.application.render.draw-on-world-viewport.entities/do! [{:entity/mouseover?     cdq.entity.mouseover/draw
                                                                                    :stunned               cdq.entity.state.stunned/draw
                                                                                    :player-item-on-cursor cdq.entity.state.player-item-on-cursor/draw}
                                                                                   {:entity/clickable      cdq.entity.clickable/draw
                                                                                    :entity/animation      cdq.entity.animation/draw
                                                                                    :entity/image          cdq.entity.image/draw
                                                                                    :entity/line-render    cdq.entity.line-render/draw}
                                                                                   {:npc-sleeping          cdq.entity.state.npc-sleeping/draw
                                                                                    :entity/temp-modifier  cdq.entity.temp-modifier/draw
                                                                                    :entity/string-effect  cdq.entity.string-effect/draw}
                                                                                   {:creature/stats        cdq.entity.stats/draw
                                                                                    :active-skill          cdq.entity.state.active-skill/draw}]]
                                         #_ [cdq.application.render.draw-on-world-viewport.geom-test/do!]
                                         [cdq.application.render.draw-on-world-viewport.highlight-mouseover-tile/do!]
                                         ])
 (cdq.application.render.assoc-interaction-state/do!)
 (cdq.application.render.set-cursor/do!)
 (cdq.application.render.player-state-handle-input/do!)
 (cdq.application.render.assoc-paused/do!)
 (cdq.application.render.update-time/do!)
 (cdq.application.render.update-potential-fields/do!)
 (cdq.application.render.tick-entities/do!)
 (cdq.application.render.remove-destroyed-entities/do!)
 (cdq.application.render.handle-key-input/do!)
 (cdq.application.render.validate/do!)]
