{
 :listener {:create [cdq.game.create/pipeline #edn/resource "create-pipeline.edn"]
            :dispose cdq.game.dispose/do!
            :render [cdq.game.render/do! #edn/resource "render-pipeline.edn"]
            :resize cdq.game.resize/do!}
 :config {:title "Cyber Dungeon Quest"
          :window {:width 1440
                   :height 900}
          :fps 60}
 }
