{
 :s/animation {cdq.schema/malli-form cdq.schema.animation/malli-form
               cdq.schema/create-value clojure.start/return-identity
               cdq.schema/create cdq.schema.animation/create
               cdq.schema/value cdq.ui.editor.widget.default/value}

 :s/boolean {cdq.schema/malli-form cdq.schema.boolean/malli-form
             cdq.schema/create-value clojure.start/return-identity
             cdq.schema/create cdq.schema.boolean/create
             cdq.schema/value cdq.schema.boolean/value}

 :s/enum {cdq.schema/malli-form cdq.schema.enum/malli-form
          cdq.schema/create-value clojure.start/return-identity
          cdq.schema/create cdq.schema.enum/create
          cdq.schema/value cdq.schema.enum/value}

 :s/image {cdq.schema/malli-form cdq.schema.image/malli-form
           cdq.schema/create-value clojure.start/return-identity
           cdq.schema/create cdq.schema.image/create
           cdq.schema/value cdq.ui.editor.widget.default/value}

 :s/map {cdq.schema/malli-form cdq.schema.map/malli-form
         cdq.schema/create-value clojure.start/return-identity
         cdq.schema/create cdq.schema.map/create
         cdq.schema/value cdq.schema.map/value}

 :s/number {cdq.schema/malli-form cdq.schema.number/malli-form
            cdq.schema/create-value clojure.start/return-identity
            cdq.schema/create cdq.ui.editor.widget.edn/create
            cdq.schema/value cdq.ui.editor.widget.edn/value}

 :s/one-to-many {cdq.schema/malli-form cdq.schema.one-to-many/malli-form
                 cdq.schema/create-value cdq.schema.one-to-many/create-value
                 cdq.schema/create cdq.schema.one-to-many/create
                 cdq.schema/value cdq.schema.one-to-many/value}

 :s/one-to-one {cdq.schema/malli-form cdq.schema.one-to-one/malli-form
                cdq.schema/create-value cdq.schema.one-to-one/create-value
                cdq.schema/create cdq.schema.one-to-one/create
                cdq.schema/value cdq.schema.one-to-one/value}

 :s/qualified-keyword {cdq.schema/malli-form cdq.schema.qualified-keyword/malli-form
                       cdq.schema/create-value clojure.start/return-identity
                       cdq.schema/create cdq.ui.editor.widget.default/create
                       cdq.schema/value cdq.ui.editor.widget.default/value}

 :s/some {cdq.schema/malli-form cdq.schema.some/malli-form
          cdq.schema/create-value clojure.start/return-identity
          cdq.schema/create cdq.ui.editor.widget.default/create
          cdq.schema/value cdq.ui.editor.widget.default/value}

 :s/sound {cdq.schema/malli-form cdq.schema.sound/malli-form
           cdq.schema/create-value clojure.start/return-identity
           cdq.schema/create cdq.schema.sound/create
           cdq.schema/value cdq.ui.editor.widget.default/value}

 :s/string {cdq.schema/malli-form cdq.schema.string/malli-form
            cdq.schema/create-value clojure.start/return-identity
            cdq.schema/create cdq.schema.string/create
            cdq.schema/value cdq.schema.string/value}

 :s/val-max {cdq.schema/malli-form cdq.schema.val-max/malli-form
             cdq.schema/create-value clojure.start/return-identity
             cdq.schema/create cdq.ui.editor.widget.edn/create
             cdq.schema/value cdq.ui.editor.widget.edn/value}

 :s/vector {cdq.schema/malli-form cdq.schema.vector/malli-form
            cdq.schema/create-value clojure.start/return-identity
            cdq.schema/create cdq.ui.editor.widget.default/create
            cdq.schema/value cdq.ui.editor.widget.default/value}
 }
