{
 :tx/assoc                    cdq.world.tx.assoc/do!
 :tx/assoc-in                 cdq.world.tx.assoc-in/do!
 :tx/dissoc                   cdq.world.tx.dissoc/do!
 :tx/update                   cdq.world.tx.update/do!
 :tx/mark-destroyed           cdq.world.tx.mark-destroyed/do!
 :tx/set-cooldown             cdq.world.tx.set-cooldown/do!
 :tx/add-text-effect          cdq.world.tx.add-text-effect/do!
 :tx/add-skill                cdq.world.tx.add-skill/do!
 :tx/set-item                 cdq.world.tx.set-item/do!
 :tx/remove-item              cdq.world.tx.remove-item/do!
 :tx/pickup-item              cdq.world.tx.pickup-item/do!
 :tx/event                    cdq.world.tx.event/do!

 ; FIXME ctx -
 ; cdq.entity.state.player-item-on-cursor/exit
 ; spawn item, place position, graphics world mouse position ...
 :tx/state-exit               cdq.world.tx.state-exit/do!

 :tx/state-enter              cdq.world.tx.state-enter/do!
 :tx/effect                   cdq.world.tx.effect/do!

 ; FIXME db/sound
 :tx/audiovisual              cdq.world.tx.audiovisual/do!
 ; effect/audiovisual !!
 ; effect.target/audiovisual !!

 :tx/spawn-alert              cdq.world.tx.spawn-alert/do!
 :tx/spawn-line               cdq.world.tx.spawn-line/do!
 :tx/move-entity              cdq.world.tx.move-entity/do!
 :tx/spawn-projectile         cdq.world.tx.spawn-projectile/do!
 :tx/spawn-effect             cdq.world.tx.spawn-effect/do!
 :tx/spawn-item               cdq.world.tx.spawn-item/do!
 :tx/spawn-creature           cdq.world.tx.spawn-creature/do!
 :tx/spawn-entity             cdq.world.tx.spawn-entity/do!

 ; FIXME
 ; temporary hack: do nothing
 :tx/sound                    cdq.world.tx.sound/do!
 ; all kind of places & audiovisual ...

 :tx/toggle-inventory-visible cdq.world.tx.toggle-inventory-visible/do!
 ; player idle handle input

 :tx/show-message             cdq.world.tx.show-message/do!
 ; player idle handle input

 :tx/show-modal               cdq.world.tx.show-modal/do!
 ; player dead enter
 }
