{:lwjgl3 {:title "Ultimate Fantasy"
          :fps 60
          :width 1440
          :height 900
          :taskbar-icon "moon.png"}
 :lifecycle {:db {:schema     "uf_schema.edn"
                  :properties "uf_properties.edn"}
             :ui :skin-scale/x1
             :viewport {:width 1440
                        :height 900}
             :graphics {:world-viewport {:tile-size 48
                                         :width 1440
                                         :height 900}}}}
