[[cdq.ctx.create.ui.dev-menu/create cdq.game.create.world/do!]
 [cdq.ctx.create.ui.action-bar/create]
 [cdq.ctx.create.ui.hp-mana-bar/create]
 [cdq.ctx.create.ui.windows/create [[cdq.ctx.create.ui.windows.entity-info/create]
                                    [cdq.ctx.create.ui.windows.inventory/create]]]
 [cdq.ctx.create.ui.player-state-draw/create]
 [cdq.ctx.create.ui.message/create]]
