[[cdq.create.ui.dev-menu/create]
 [cdq.create.ui.action-bar/create]
 [cdq.create.ui.hp-mana-bar/create {:rahmen-file "images/rahmen.png"
                                                :rahmenw 150
                                                :rahmenh 26
                                                :hpcontent-file "images/hp.png"
                                                :manacontent-file "images/mana.png"
                                                :y-mana 80}]
 [cdq.create.ui.windows/create [cdq.create.ui.entity-info/create
                                            cdq.create.ui.inventory/create]]
 [cdq.create.ui.player-state-draw/create]
 [cdq.create.ui.message/create {:duration-seconds 0.5
                                            :name "player-message"}]]
