{:initial-state {:content-grid-cell-size 16
                 :world/movement-ai cdq.potential-fields.movement/find-movement-direction
                 :world/factions-iterations {:good 15 :evil 5}
                 :world/max-delta 0.04
                 :world/minimum-size 0.39
                 :world/z-orders [:z-order/on-ground
                                  :z-order/ground
                                  :z-order/flying
                                  :z-order/effect]
                 :world/enemy-components {:entity/fsm {:fsm :fsms/npc
                                                       :initial-state :npc-sleeping}
                                          :entity/faction :evil}
                 :world/player-components {:creature-id :creatures/vampire
                                           :components {:entity/fsm {:fsm :fsms/player
                                                                     :initial-state :player-idle}
                                                        :entity/faction :good
                                                        :entity/player? true
                                                        :entity/free-skill-points 3
                                                        :entity/clickable {:type :clickable/player}
                                                        :entity/click-distance-tiles 1.5}}
                 :world/effect-body-props {:width 0.5
                                           :height 0.5
                                           :z-order :z-order/effect}}
 :pipeline [[cdq.application.create.world.record/do!]
            [cdq.application.create.world.entity-schema/do!]
            [cdq.application.create.world/create-fsms]
            [cdq.application.create.world/calculate-max-speed]
            [cdq.application.create.world/define-render-z-order]
            [cdq.application.create.world.protocols/do!]]}
